<h1>Edit a Todo Item</h1>

<form action="/todos/<%= @todo.id %>" method="POST">
  <label>Title:</label>
  <input type="text" name="todo[title]" value="<%= @todo.title %>" id="todo_title">
  <p>
    <input class="with-gap" name="todo[done]" value="<%= @todo.done %>" type="checkbox" id="todo_done"/>
    <label for="todo_done">isDone?</label>
  </p>
  <input type="submit" value="Send Update">

</form>
