
<h1>Create a new Todo Item</h1>

<form action="/todos" method="POST">
  <label>Title:</label>
  <input type="text" name="todo[title]" id="todo_title">
  <input type="submit" value="Create Item">
</form>
