
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CoolApps(e)</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="CoolApps(e) is an experienced, passionate, creative and open minded team whose focus is the digital promotion of brands through Web and Mobile supports.">
        <meta name="keywords" content="apps, app, apple, mac, itunes, android, google play, coolappse, CoolApps(e), mobile, tablet, iphone, ipod, touch, ipad, website, websites, microsite, microsites, web, webdesign, responsive, design, interface, interfaces, interface design, web interface design, web design, web app design, interface design agency, interface design studio, ui design, icon design, web apps">
        <meta name="author" content="COOLAPPSE">
        <meta name="robots" content="all">
        <link rel="shortcut icon" href="http://www.coolappse.com/ico.ico" />
        <link rel="apple-touch-icon" href="http://www.coolappse.com/appleicon.png" />

        <link href="http://www.coolappse.com/css/main.css" rel="stylesheet" />
        <link href="http://www.coolappse.com/css/fonts.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
        <meta name="robots" content="noindex">


        <!--[if lt IE 9]>
            <script src="http://www.coolappse.com/js/html5shiv.js"></script>
        <![endif]-->

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-34868011-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>


    </head>
    <body class="notfound">
        <div class="wrapper">
            <div class="big">OOPS! YOU DON'T WANT TO BE HERE</div>
            <div>It looks like it's time to abort mission and go <a href="http://www.coolappse.com">Home</a>.</div>
        </div>
    </body>
</html>
